// color palette
$primary: #ff5722;
$primary-light: #ff8a50;
$primary-dark: #c41c00;

$accent: #448aff;
$accent-light: #83b9ff;
$accent-dark: #005ecb;

$warn: #ff0000;
$warn-light: #ffb3b3;

$success: #00ff00;
$success-light: #b3ffb3;

$info: #0000ff;
$info-light: #b3b3ff;

$text: #000000;
$text-light: #ffffff;

$bg: #fafafa;
$bg-dark: #2c2c2c;

$text-secondary: #757575;

$divider-color: #BDBDBD;

h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}